{% extends 'ukts/base.html' %}
{% load static %}



{% block content %}


        
        <!-- ============================================-->
        <!-- <section> begin ============================-->
            <section class="py-0">
  
                <div class="container-fluid">
                  <div class="row">

                    <div class="col-lg-6 px-0 order-lg-2">
                      <div class="sticky-top vh-lg-100 py-9"> 
                        {% comment %} overlay overlay-1 {% endcomment %}
                        <div class="bg-holder" style="background-image:url({% static 'ukts/img/knjige/knjige_naslovna.jpeg' %});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}'>
                        </div>
                        <!--/.bg-holder-->
                        {% comment %} <div class="position-relative text-center">
                          <h5 class="text-white">Image Background </h5>
                          <h6 class="text-white">(.overlay-0)</h6>
                        </div> {% endcomment %}

                      </div>
                    </div>

                    <div class="col-lg-6 py-6">
                      <div class="row h-100 flex-center">
                        <div class="col-lg-10">

                          <div class="mb-5">
                            <div class="overflow-hidden">
                              <h1 class="text-decoration-underline fs-4 fs-md-5 mb-0" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">Knjige</h1>
                              <p class="lead font-sans-serif mt-1text-500" data-zanim-lg='{"delay":0.5}'>Sve knjige u izdavastvu UKTS</p>
                              {% comment %} <h5 class="fw-bolder ls text-bg-primary text-uppercase" data-zanim-xs='{"delay":0.1}'>  Stručni Magazin &nbsp; </h5> {% endcomment %}
                            </div>
                          </div>


                          {% for knjiga in knjige %}

                          <div class="row align-items-center py-3 border-bottom">
                            
                            <div class="col-sm-12">
                              <div class="row align-items-center">
                                {% comment %} <div class="col-auto"><a href="{{ knjiga.pdf.url }}"><span class="fas fa-file-download text-300 fs-0 fs-md-1 fs-lg-2"></span></a></div> {% endcomment %}
                                <div class="col">
                                  <div class="row g-0 align-items-center">
                                    <div class="col-auto">
                                      <img class="me-3" src="{{ knjiga.cover.url }}" alt="" width="120" />
                                    </div>
                                    <div class="col-8 mt-2">

                                        <div class="border text-danger border-danger fw-bold px-1 fs--1 rounded d-inline-block mb-2">NOVO</div>

                                        <a class="text-black" href="{{ knjiga.pdf.url }}">
                                            <h5 class="fw-bold mb-0">{{ knjiga.naslov }}</h5>
                                            <p class="font-sans-serif mt-2 text-500">{{ knjiga.autor }} - {{ knjiga.godina }}</p>
                                            {% comment %} <p class="font-sans-serif mt-2 text-500">{{ knjiga.naslov }}</p> {% endcomment %}
                                        </a>
                                    </div>
                                    <div class="col-2 mt-2 ">
                                      {% comment %} <div class="border text-danger border-danger fw-bold px-1 fs--1 rounded d-inline-block mb-2">NOVO</div> {% endcomment %}
                                    </div>
                                  </div>
                                  </div>
                              </div>
                            </div>
                            
                          </div>
                          
                         {% endfor %} 

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- end of .container-->
        
              </section>
              <!-- <section> close ============================-->
              <!-- ============================================-->
        

    
        
{% endblock content %} 







{% comment %} {% extends 'ukts/edukacija/knjige_base.html' %}
{% load static %}

{% block count %}
<span class="font-sans-serif display-4 fw-bold" data-countup='{"endValue":{{knjige.count}}}'>0</span>                  
{% endblock count %} 



{% block cover %}



<div class="bg-holder" style="background-image:url({% static 'ukts/img/knjige/knjige_naslovna.jpeg' %}); background-size: contain;" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-right","delay":0}'>
</div>

{% endblock cover %} 




{% block knjige %}

        {% for knjiga in knjige %}
    
            <div class="col-lg-6 col-xl-3 mt-3 mt-xl-3 pe-lg-2" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
                <div class="hoverbox min-vh-50 h-100 py-6">
                    <div class="bg-holder rounded" style="background-image:url({{ knjiga.cover.url }}); background-size: contain;">
                    </div>
                    <!--/.bg-holder-->

                    <div class="hoverbox-content d-flex bg-black justify-content-center rounded">
                    <div class="align-self-center px-4 px-lg-6 text-center"><span class="fas fa-file-pdf text-white fs-2 mb-2"></span>
                        <h4 class="mb-1 text-white">{{ knjiga.autor }}</h4>
                        <p class="px-3 font-sans-serif text-500">{{ knjiga.naslov }}</p>
                        <p class="px-3 font-sans-serif text-500">{{ knjiga.godina }}</p>
                        {% if knjiga.pdf %}
                            <a href="{{ knjiga.pdf.url }}" class="btn btn-outline-light mt-4" >
                            Pogledaj PDF</a>
                        {% else %}
                            <span class="text-muted">No PDF</span>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>

            {% endfor %}

{% endblock knjige %} 

 {% endcomment %}



{% comment %} hier gehts los {% endcomment %}



