{% extends 'ukts/base.html' %}
{% load static %}

{% block content %}

    {% include 'ukts/partials/_navbar.html' %}

    



    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main min-vh-100" id="top">


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div> </div>
            <div></div>
            <div></div>
            <div></div>
            <div> </div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="py-0" id="page-contact">

            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6 bg-white pt-8 pb-4">
                  <div class="row h-100 flex-center">
                    <div class="col-lg-8" data-zanim-lg='{"animation":"slide-left","delay":0.6}' data-zanim-trigger="scroll">
                      <h1 class="text-decoration-underline d-inline-block mb-2 mb-lg-3">kontakt</h1>
                      <h5 class="">Udruženje košarkaških trenera Srbije UKTS</h5>
                      <h5 class="mb-4">Serbian Association of basketball coaches SABC</h5>                           
                      <p class="fw-bold mb-0">Adresa:<span class="ms-2 fw-normal">Sazonova 83 - 11000 Beograd, Srbija</span></p>
                      <p class="fw-bold mb-0">Telefon 1:<span class="ms-2 fw-normal"><a class="text-700" href="tel:+13234324534">+381 11 3400 851</a></span></p>
                      <p class="fw-bold mb-0">Telefon 2:<span class="ms-2 fw-normal"><a class="text-700" href="tel:+13234324534">+381 11 3400 852</a></span></p>
                      <p class="fw-bold mb-2">E-mail:<span class="ms-2 fw-normal fst-italic"><a class="text-700" href="mailto:ukts@ukts.rs">ukts@ukts.rs</a></span></p>
                      <p class="fw-bold mt-2 mb-0">Radno vreme</p>
                      <p class="fw-bold mb-4">Radnim danima:<span class="ms-2 fw-normal">09:00 – 16:00 </span></p>

                      <div class="mt-3"><a class="btn btn-primary btn-sm me-2" href="#!"><span class="fab fa-twitter" data-fa-transform="grow-6"></span></a><a class="btn btn-primary btn-sm me-2" href="#!"><span class="fab fa-facebook-f" data-fa-transform="grow-6"></span></a><a class="btn btn-primary btn-sm me-2" href="#!"><span class="fab fa-google-plus-g" data-fa-transform="grow-6"></span></a><a class="btn btn-primary btn-sm" href="#!"><span class="fab fa-linkedin-in" data-fa-transform="grow-6"></span></a></div>

                      <p class="fw-bold mt-4 mb-0">PIB:<span class="ms-2 fw-normal"><a class="text-700" href="tel:+13234324534">104500325</a></span></p>
                      <p class="fw-bold mb-2">Matični broj:<span class="ms-2 fw-normal"><a class="text-700" href="tel:+13234324534">17647393</a></span></p>
                      <p class="fw-bold mb-0">Komercijalna banka</p>
                      <p class="fw-bold mb-0">Tekući račun:<span class="ms-2 fw-normal"><a class="text-700" href="tel:+13234324534">205-114324-11</a></span></p>

                      
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-6 px-0">
                  <div class="sticky-top ovrflow-hidden-y">
                    {% comment %} <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Sazonova%2083&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" title="Sazonova 83" aria-label="Sazonova 83"></iframe> {% endcomment %}
                    <div class="googlemap min-vh-100 d-none d-lg-block" data-gmap="data-gmap" data-latlng="48.8588723,2.2932638" data-pov='{"heading":120,"pitch":0}' data-scrollwheel="false" data-icon="{% static 'ukts/img/map-marker.png' %}" data-zoom="1" data-theme="streetview" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}' data-zanim-trigger="scroll"></div>
                    <!--Mobile Fallback-->
                    <div class="googlemap min-vh-50 d-lg-none" data-gmap="data-gmap" data-latlng="48.8588723,2.2932638" data-pov='{"heading":75,"pitch":0}' data-scrollwheel="false" data-icon="{% static 'ukts/img/map-marker.png' %}" data-zoom="17" data-theme="Default">
                      <div class="marker-content py-3">
                        <h5>Eiffel Tower</h5>
                        <p>Gustave Eiffel's iconic, wrought-iron 1889 tower,<br /> with steps and elevators to observation decks.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
    




    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    {% include 'ukts/partials/_footer.html' %}

    {% endblock content %} 