{% extends 'ukts/base.html' %}
{% load static %}


{% block content %}

{% include 'ukts/partials/_navbar.html' %}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
      <div class="loader">
        <div class="line-scale-pulse-out-rapid">
          <div> </div>
          <div></div>
          <div></div>
          <div></div>
          <div> </div>
        </div>
      </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->



{% comment %} {{ zivotno }}
{{ zivotno.image.url }} {% endcomment %}




      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section id="StudioFeatures">

            <div class="container">


            <div class="row mb-5 mb-lg-7">
                <div class="col-lg-6">
                    <h1 class="text-decoration-underline d-inline fs-4 fs-md-5">Vesti i saopštenja </h1>
                    {% comment %} <h5 class="fw-bolder ls text-bg-primary text-uppercase" data-zanim-xs='{"delay":0.1}'>  Beogradska &nbsp;Košarkaška &nbsp;Klinika </h5> {% endcomment %}
                    <p class="mt-3">Arhiva svih vesti Udruzenja Kosarkaskih Trenera Srbije </br></p>
                </div>
            </div>


              <div class="row">

                {% for post in posts %}

                
                <div class="col-lg-4 col-md-6 col-lg mt-6 "><a style="text-decoration : none" href="{{ post.get_absolute_url }}">
                  <img class=" overlay overlay-1 rounded img-fluid" src=".{{ post.image_resize.url }}" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></a>
                  <div class="overflow-hidden text-start" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 class="mt-4 mb-2 text-start" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ post.title|truncatechars:30 }}</h4>
                    <p class="text-start" data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>{{ post.body|safe|striptags|truncatechars:210 }}</p>
                    
                    <a  style="text-decoration : none" href="{{ post.get_absolute_url }}">
                    <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'>
                        <h6 class=" fw-bold outline-none alignleft">{{ post.publish.date|date:'d/m/Y' }}</h6>
                        <h6 class=" fw-bold outline-none alignright"><i class="far fa-comment"></i> {{ post.comments.count }}  </h6> 
                        {% comment %} komentar{{ post.comments.count|pluralize:"a" }} {% endcomment %}
                        {% comment %} <a class="btn btn-link ps-0 text-black fw-bold outline-none" style="text-decoration : none" href="{{ post.get_absolute_url }}">{{ post.publish.date }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ post.comments.count }} komentar{{ post.comments.count|pluralize:"a" }}</a> {% endcomment %}
                    </div>
                    </a>
                    <div style="clear: both;"></div>
                  </div>
                </div>
                


                {% endfor %}

                {% comment %} <div class="col-md-6 col-lg mt-6 mt-md-0"><img class="rounded img-fluid" src="../assets/img/studio-02.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                  <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>the experience</h4>
                    <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>Record release parties. Exclusive brand events. Unforgettable unplugged performances. We’ve done it all—and we’d love to do it again.</p>
                    <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">Build an Experience</a></div>
                  </div>
                </div>
                <div class="col-md-6 col-lg mt-6 mt-lg-0"><img class="rounded img-fluid" src="../assets/img/studio-03.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                  <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>notable events</h4>
                    <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>Located within the world-famous Sparrow records tower, Sparrow studios offers a premier venue for legendary events no one will forget.</p>
                    <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">Learn more</a></div>
                  </div>
                </div> {% endcomment %}

              </div>



            </div>
            <!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
    
    

    

    
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


{% include 'ukts/partials/_footer.html' %}



{% endblock content %} 