{% extends 'ukts/treneri/treneri_base.html' %}
{% comment %} {% extends 'treneri/baseTreneri.html' %} {% endcomment %}
{% load crispy_forms_tags %}


{% block dashboard %}

        <div class="row justify-content-center mb-3">
            <div class="col-md-6">
                <h4 class="card-title">Dodaj Trenera</h4>
                <p class="card-description"> Unesi podatke </p>
            </div>
        </div>

      <form action="" method="post" enctype="multipart/form-data" class="forms-sample">
        {% csrf_token %}

        <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                {{form.ime|as_crispy_field }}
            {% comment %} <label for="exampleInputUsername1">Username</label>
            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username"> {% endcomment %}
            </div>
            <div class="form-group">
                {{form.email|as_crispy_field }}
            {% comment %} <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> {% endcomment %}
            </div>
            <div class="form-group">
                {{form.licenca|as_crispy_field }}
            {% comment %} <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> {% endcomment %}
            </div>
            <div class="form-check form-check-flat form-check-primary">
                {{form.slika|as_crispy_field}}
                {% comment %} <label class="form-check-label">
                <input type="checkbox" class="form-check-input"> Remember me </label> {% endcomment %}
            </div>
        </div>
        <div class="col-md-5">

            <div class="form-group">
                {{form.telefon|as_crispy_field }}
            {% comment %} <label for="exampleInputConfirmPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password"> {% endcomment %}
            </div>
            <div class="form-check form-check-flat form-check-primary">
                {{form.klub|as_crispy_field }}
                {% comment %} <label class="form-check-label">
                <input type="checkbox" class="form-check-input"> Remember me </label> {% endcomment %}
            </div>
            <div class="form-check form-check-flat form-check-primary">
                {{form.region|as_crispy_field }}
                {% comment %} <label class="form-check-label">
                <input type="checkbox" class="form-check-input"> Remember me </label> {% endcomment %}
            </div>
            <div class="form-check form-check-flat form-check-primary">
                {{form.datum_rodjenja|as_crispy_field}}
                {% comment %} <label class="form-check-label">
                <input type="checkbox" class="form-check-input"> Remember me </label> {% endcomment %}
            </div>
            <button type="submit" class="btn btn-outline-primary me-2">Submit</button>
            {% comment %} <button class="btn btn-light">Cancel</button> {% endcomment %}
            <a href="{% url 'treneri:treneri_list' %}" class="btn btn-outline-primary">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
        </div>
      </form>




{% endblock dashboard %}












{% comment %} 
  <form action="" method="post" autocomplete="off">

    {% csrf_token %}
    {{form|crispy }}
    
    <div class="row">
        <div class="col-md-3">
            {{form.ime|as_crispy_field }}
            {{form.email|as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{form.licenca|as_crispy_field }}
            {{form.telefon|as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{form.klub|as_crispy_field }}
            {{form.region|as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{form.datum_rodjenja|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i> Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'treneri_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>


</form> {% endcomment %}