{% extends 'ukts/base.html' %}
{% load static %}


{% block content %}

  
  
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="mt-5 mt-lg-0 py-lg-7" id="page-portfolio">
  
          <div class="container">

            <div class="row mb-5 mb-lg-7">
              <div class="col-lg-6">
                <h1 class="text-decoration-underline d-inline fs-4 fs-md-5">Galerija </h1>
                <h5 class="fw-bolder ls text-bg-primary text-uppercase" data-zanim-xs='{"delay":0.1}'>  Beogradska &nbsp;Košarkaška &nbsp;Klinika </h5>
                <p class="mt-3">Galerija slika sa svih Beogradskih Košarkaskih Klinika. </br>Izaberite godinu i uzivajte u uspomenama.</p>
              </div>
            </div>
            
            <ul class="nav font-sans-serif mb-2" data-filter-nav="data-filter-nav">
              <li class="nav-item"><a class="nav-link isotope-nav active" href="#!" data-filter="*">sve</a></li>

              {% comment %} {% regroup object_list|dictsortreversed:"godina" by godina as godina_list %}
              {% for godina in godina_list %}
                 
               <li class="nav-item"><a class="nav-link isotope-nav" href="#!" data-filter=".a{{ godina.grouper }}">{{ godina.grouper }}</a></li>

              {% endfor %} {% endcomment %}

              {% for klinika in klinike %}
                 
               <li class="nav-item"><a class="nav-link isotope-nav" href="#!" data-filter=".a{{ klinika.godina }}">{{ klinika.godina }}</a></li>

              {% endfor %}


            </ul>

            <div class="row g-3 mt-2" id="portfolio-gallery" data-zanim-timeline="{}" data-zanim-trigger="scroll" data-isotope='{"layoutMode":"packery"}'>
              
              {% for slika in slike %}
            
              <div class="col-6 col-md-3 isotope-item a{{ slika.klinika.godina }}"><a href="#!" data-bp="{{ slika.slika.url }}" data-bigpicture='{"gallery":"#portfolio-gallery"}' data-caption=""><img class="rounded w-100 fit-cover" src="{{ slika.slika.url }}" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' /></a></div>
            
                {% empty %}
                <h3> No photos ... </h3>
              {% endfor %}

                                  
            {% comment %} {% for foto in fotos %}
            
              <div class="col-6 col-md-3 isotope-item a{{ foto.godina }}"><a href="#!" data-bp="{{ foto.slika.url }}" data-bigpicture='{"gallery":"#portfolio-gallery"}' data-caption="{{ foto.naslov }}"><img class="rounded w-100 fit-cover" src="{{ foto.slika.url }}" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' /></a></div>
            
            {% endfor %} {% endcomment %}


            
            </div>

           </div>
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


{% endblock content %}