{% extends 'ukts/base.html' %}
{% load static %}

{% block content %}

    {% include 'ukts/partials/_navbar.html' %}

    



      <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main min-vh-100" id="top">


        <!-- ============================================-->
        <!-- Preloader ==================================-->
        <div class="preloader" id="preloader">
          <div class="loader">
            <div class="line-scale-pulse-out-rapid">
              <div> </div>
              <div></div>
              <div></div>
              <div></div>
              <div> </div>
            </div>
          </div>
        </div>
        <!-- ============================================-->
        <!-- End of Preloader ===========================-->
  
  
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0">
  
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 px-0 order-lg-2">
                <div class="sticky-top vh-lg-100 py-9">
                  <div class="bg-holder" style="background-image:url('../../static/ukts/img/magazin/magazin_istorija_2.png');" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}'>
                  </div>
                  <!--/.bg-holder-->
  
                </div>
              </div>
              <div class="col-lg-6 py-6">
                <div class="row h-100 flex-center">
                  <div class="col-lg-10">
                    <div class="mb-5">
                      <div class="overflow-hidden">
                        <h1 class="text-decoration-underline fs-4 fs-md-5 mb-0" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">Istorija</h1>
                        <h5 class="fw-bolder ls text-bg-primary text-uppercase" data-zanim-xs='{"delay":0.1}'>  Beogradska &nbsp;Košarkaška &nbsp;Klinika </h5>
                      </div>
                    </div>
                    <p class="dropcap" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">Udruženje košarkaških trenera Srbije, uporno u podizanju nivoa stručnog usavršavanja kao svog osnovnog zadatka, 2001. godine organizuje stručni seminar namenjen, pre svih, trenerima seniorskih timova. Bila je to nadogradnja ili, uz „Trenerske dane“ kompletiranje i obavezno uključivanje trenerskog kadra Srbije u struno usavršavanje novog kvaliteta.</p>
                    <p data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">Za ovaj, ispostavilo se, poduhvat, ni najveći optimisti među osnivačima nisu slutili do kojih će se visina vinuti, u svetskim razmerama, kada je u pitanju organizacija stručnih seminara košarkaških trenera. Uspeh se mogao naslutiti u samom startu. Da se dobar glas daleko čuje potvrdjivalo  se iz godine u godinu.</p>
                    <div class="row mt-5">
                        <div class="col-6"><img class="rounded img-fluid" src="../../static/ukts/img/magazin/trener_9.jpeg" alt="" data-zanim-xs='{"delay":0.6,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
                        <div class="col-6"><img class="rounded img-fluid" src="../../static/ukts/img/magazin/trener_2.jpeg" alt="" data-zanim-xs='{"delay":0.7,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
                    </div>
                    </br>
                    <p data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">Koncept da predavači budu: ugledni trener NBA, Evrope ili ostatka sveta i domaći trener, dobio je punu satisfakciju. Seminar namenjen našim stručnjacima, postao je više nego privlačan,  sada već možemo tvrditi za trenere iz celog sveta. Munjevitom brzinom Basket ball clinic Belgrade, postao je prestižni svetski seminar, kome se pored polaznika, rado odazivaju ugledni treneri predavači. Iz preko pedeset zemalja, naročito onih u kojima rade naši treneri i svojim rezultatima doprinose, kako ugledu našeg udruženja, tako i pomenutog seminara. Spisak predavača na BCB je toliko impozantan da se time zaista niko u svetu ne može pohvaliti. BCB je odmah dobio internacionalni karakter a pored naših trenera koji vode seniorske timove, postao je obavezan i za one koji posećuju „Trenerske dane“, odnosno vode timove mlađih kategorija.</p>

                    <blockquote class="blockquote text-center my-6 border p-5 px-xl-7 rounded" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">
                      <p class="blockquote-content">Magazin Trener je sigurno najbolji košarkaški magazin u evropi. </p>
                      <footer class="blockquote-footer mt-0"><span class="text-900">Željko Obradović,</span> KK Partizan</footer>
                    </blockquote>

                    <p data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">Uz ugledne  košarkaške trenere, najvišeg  svetskog ugleda BCB je obogaćen i pratećim temama, vrhunskih stručnjaka širokog spektra, neophodni su trenerima koji imaju ambicije da se dokažu i vinu u elitu svoje struke.</p>
                    <p data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">Zbog svega toga Basketball clinic Belgrade je brend UKTS koji na kvalitetan način promoviše košarku Srbije u celini.</p>
                 
                
                  </div>
                </br>
                </br>
                <div class="col-xl-4 mt-5 text-center" data-zanim-xs='{"delay":0.2}' data-zanim-trigger="scroll">
                    <h2 class="fs-3 fs-sm-4 mb-1"><span class="font-sans-serif" data-countup='{"endValue":10}'>0</span> </h2>
                    <p class="fst-italic text-500">Izdanja</p>
                </div>
                  <div class="col-xl-4 mt-5 text-center" data-zanim-xs='{"delay":0.2}' data-zanim-trigger="scroll">
                    <h2 class="fs-3 fs-sm-4 mb-1 text-danger"><span class="font-sans-serif" data-countup='{"endValue": 478}'>0</span></h2>
                    <p class="fst-italic text-500">Stručnih tema</p>
                  </div>
                 <div class="col-lg-10 mt-6"><img class="rounded img-fluid" src="../../static/ukts/img/magazin/trener_1.jpeg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' data-zanim-trigger="scroll" />
                    {% comment %} <div class="row gx-4 mt-6">
                      <div class="col-md col-lg-12 col-xl-6">
                        <div class="overflow-hidden">
                          <h6 class="text-uppercase ls" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">RESEARCH</h6>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-justify" data-zanim-xs='{"delay":0.2}' data-zanim-trigger="scroll">John Doe also spent nearly a decade in academia, where he was the editor of an academic journal and had plenty of research experience, including even a Ph.D. program. That has made the agency distinctively equipped to handle the complex problems of digital media and its need for storytelling.</p>
                        </div>
                      </div>
                      <div class="col-md col-lg-12 col-xl-6">
                        <div class="overflow-hidden">
                          <h6 class="text-uppercase ls" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">MEDIA</h6>
                        </div>
                        <div class="overflow-hidden">
                          <p class="text-justify" data-zanim-xs='{"delay":0.2}' data-zanim-trigger="scroll">Sparrow organically emerged from John Doe's work in media, which spans from websites, online and cable TV, and more. Sponsors and audiences of his platforms began asking for help in web, I.T., and marketing, leading to the founding of the agency and years of work across various industries.</p>
                        </div>
                      </div>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
  
      </main>
      <!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->


 

    {% include 'ukts/partials/_footer.html' %}

    {% endblock content %} 