{% extends 'ukts/base.html' %}
{% load static %}

{% block content %}

    {% include 'ukts/partials/_navbar.html' %}

    



    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main min-vh-100" id="top">


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div> </div>
            <div></div>
            <div></div>
            <div></div>
            <div> </div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" id="LandingHeader">

        <div class="container-fluid">
          <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-lg-6 px-0 position-relative">
              <div class="h-100 py-9" data-zanim-lg='{"animation":"slide-right","from":{"opacity":0},"delay":0.4}' data-zanim-trigger="scroll">
                
                <div class="bg-holder" style="background-image:url({% static 'ukts/img/banka1.jpeg' %}); background-size: contain;" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-right","delay":0}'>
                </div>

                <!--/.bg-holder-->

              </div>
            </div>
            <div class="col-lg-6">
              <div class="row flex-center py-6 py-md-8">
                <div class="col-11 col-sm-10">
                  <div class="overflow-hidden">
                    <h2 class="fw-light text-uppercase fs-3 fs-lg-4" data-zanim-lg='{"delay":0.4}'>Uplatnice za<br /><span class="fw-black">godišnju članarinu</span></h2>
                  </div>
                  <div class="overflow-hidden">
                    <p class="lead font-sans-serif mt-4 text-500" data-zanim-lg='{"delay":0.5}'>Sve uplatnice su u 'pdf' formatu<br />Kliknite na uplatnicu za download</p>
                  </div>

                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-3 bg-light"  id="LandingFeatures">

        <div class="container-fluid">
          <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">


            {% for uplatnica in uplatnice %}
    
            <div class="col-lg-6 col-xl-6 mt-3 mt-xl-3 pe-lg-2" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
                <div class="hoverbox min-vh-50 h-100 py-6">
                    <div class="bg-holder rounded" style="background-image:url({{ uplatnica.cover.url }}); background-size: contain;">
                    </div>
                    <!--/.bg-holder-->

                    <div class="hoverbox-content d-flex bg-black justify-content-center rounded">
                    <div class="align-self-center px-4 px-lg-6 text-center"><span class="fas fa-file-pdf text-white fs-2 mb-2"></span>
                        <h4 class="mb-1 text-white">Obrazac</h4>
                        <p class="px-3 font-sans-serif text-500"> {{ uplatnica.ime }}</p>
                        {% if uplatnica.file %}
                            <a href="{{ uplatnica.file.url }}" class="btn btn-outline-light mt-4" >
                            Download</a>
                        {% else %}
                            <span class="text-muted">No PDF</span>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>

            {% endfor %}

          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    {% include 'ukts/partials/_footer.html' %}

    {% endblock content %} 