      {% extends 'ukts/lanading.html' %}
      {% load static %}
      
      {% block content%}
      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="py-4" id="bicycleFeatures1">

          <div class="container-fluid">
            <div class="row m-0">
              <div class="col-sm-6 col-lg-3"><a class="d-block" href="#!"><img class="w-100 rounded" src="../assets/img/bicycle-03.jpg" alt="" data-zanim-xs='{"delay":0,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                  <h6 class="d-inline-block ls text-uppercase fw-normal mb-0 mt-3 text-600">Mountain</h6>
                  <h4>mountain</h4>
                  <p class="text-700 d-inline-block">XC, DH, trail—our mountain bikes cover every facet of riding.</p>
                </a></div>
              <div class="col-sm-6 col-lg-3 mt-4 mt-sm-0"><a class="d-block" href="#!"><img class="w-100 rounded" src="../assets/img/bicycle-04.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                  <h6 class="d-inline-block ls text-uppercase fw-normal mb-0 mt-3 text-600">Road</h6>
                  <h4>road</h4>
                  <p class="text-700 d-inline-block">Whether you're a veteran racer or first-time rider, we have the perfect Road …</p>
                </a></div>
              <div class="col-sm-6 col-lg-3 mt-4 mt-lg-0"><a class="d-block" href="#!"><img class="w-100 rounded" src="../assets/img/bicycle-05.jpg" alt="" data-zanim-xs='{"delay":0.2,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                  <h6 class="d-inline-block ls text-uppercase fw-normal mb-0 mt-3 text-600">fitness</h6>
                  <h4>fitness &amp; hybrid</h4>
                  <p class="text-700 d-inline-block">Get in-shape or around town with our Fitness &amp; Urban bikes.</p>
                </a></div>
              <div class="col-sm-6 col-lg-3 mt-4 mt-lg-0"><a class="d-block" href="#!"><img class="w-100 rounded" src="../assets/img/bicycle-06.jpg" alt="" data-zanim-xs='{"delay":0.3,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                  <h6 class="d-inline-block ls text-uppercase fw-normal mb-0 mt-3 text-600">Turbo</h6>
                  <h4>e-bikes</h4>
                  <p class="text-700 d-inline-block">Our E-Bikes are far from typical. They feel just like a Specialized bike shou…</p>
                </a></div>
            </div>
          </div>
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
        {% endblock content%}