{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% comment %} {% if tag %}
        <h2 class="mb-3">Posts tagged with "{{ tag.name }}"</h2>
    {% endif %} {% endcomment %}

    {% for post in posts %}


    <div class="blog-entry-2 ftco-animate">
        <a href="{{ post.get_absolute_url }}" class="blog-img d-flex justify-content-center align-items-center" style="background-image: url({{ post.image.url }});">
            {% comment %} <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-play"></span>
            </div> {% endcomment %}
        </a>
        <div class="d-flex">
            <div class="meta pt-4">
                <p>
                    <span>{{ post.author }}</span>
                    <span><a href="{{ post.get_absolute_url }}">{{ post.publish.date }}</a></span>
                    {% comment %} <span><a href="{{ post.get_absolute_url }}">Video</a></span> {% endcomment %}
                    
                    {% comment %} {% with comments.count as total_comments %} {% endcomment %}
                        <span><a href="{{ post.get_absolute_url }}">
                            {{ post.comments.count }} Comment{{ post.comments.count|pluralize }}
                        </a></span>
                    {% comment %} {% endwith %} {% endcomment %}
                </p>
            </div>
            <div class="text p-5">
                <h3 class="mb-4">{{ post.title }}</h3>
                <p>{{ post.body|safe|striptags|truncatechars:100 }}</p>
                <p class="mt-5"><a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more</a></p>
            </div>
        </div>
    </div>

    {% endfor %}

    
{% endblock content %}