<!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="text-center" id="defaultMembers">

            <div class="container">
              <div class="row flex-center">
                <div class="col-lg-7 col-xl-6">
                  <h2 class="fs-3 fs-sm-4 text-decoration-underline mb-3">meet the crews</h2>
                  <p class="text-500 fst-italic">A passionate group of experienced designers, developers and programmers motivated to continually reach goals and tackle new challenges</p>
                </div>
                <div class="w-100"></div>
                <div class="col-lg-6 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0}' data-zanim-trigger="scroll">
                  <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/9.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                    <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-twitter"></span></a>
                    </div>
                  </div>
                  <div class="overflow-hidden"><a href="../pages/profile.html">
                      <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Elizabeth Swan</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <h6 class="text-700 fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Lady</h6>
                  </div>
                </div>
                <div class="col-lg-6 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                  <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/0.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                    <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-twitter"></span></a>
                    </div>
                  </div>
                  <div class="overflow-hidden"><a href="../pages/profile.html">
                      <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Jack Sparrow</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <h6 class="text-700 fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Man</h6>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll">
                  <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/1.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                    <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-twitter"></span></a><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-facebook"></span></a>
                    </div>
                  </div>
                  <div class="overflow-hidden"><a href="../pages/profile.html">
                      <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Hector Barbossa</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <h6 class="text-700 fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Beta</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.3}' data-zanim-trigger="scroll">
                  <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/2.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                    <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-instagram"></span></a>
                    </div>
                  </div>
                  <div class="overflow-hidden"><a href="../pages/profile.html">
                      <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Tia Dalma</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <h6 class="text-700 fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Gama</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
                  <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/3.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                    <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-linkedin"></span></a>
                    </div>
                  </div>
                  <div class="overflow-hidden"><a href="../pages/profile.html">
                      <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Angelica Syrena</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <h6 class="text-700 fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Ohm</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.5}' data-zanim-trigger="scroll">
                  <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/4.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                    <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-instagram"></span></a>
                    </div>
                  </div>
                  <div class="overflow-hidden"><a href="../pages/profile.html">
                      <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Joshame Gibbs</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <h6 class="text-700 fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Pi</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.6}' data-zanim-trigger="scroll">
                  <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/5.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                    <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-facebook"></span></a>
                    </div>
                  </div>
                  <div class="overflow-hidden"><a href="../pages/profile.html">
                      <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Carina Smyth</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <h6 class="text-700 fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Delta</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.7}' data-zanim-trigger="scroll">
                  <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/6.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                    <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-twitter"></span></a><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-instagram"></span></a>
                    </div>
                  </div>
                  <div class="overflow-hidden"><a href="../pages/profile.html">
                      <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Black Beard</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <h6 class="text-700 fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Fi</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.8}' data-zanim-trigger="scroll">
                  <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/7.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                    <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-twitter"></span></a><a class="text-white" href="#!"><span class="fs-1 ms-2 fab fa-linkedin"></span></a>
                    </div>
                  </div>
                  <div class="overflow-hidden"><a href="../pages/profile.html">
                      <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Davy Jones</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <h6 class="text-700 fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Zita</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.9}' data-zanim-trigger="scroll"><img class="rounded img-fluid" src="../assets/img/team/8.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                  <div class="overflow-hidden">
                    <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"delay":0.2}'>Pintel &amp; Ragetti</h5>
                  </div>
                  <div class="overflow-hidden">
                    <h6 class="text-700 fw-normal text-uppercase ls" data-zanim-xs='{"delay":0.3}'>Entertainers</h6>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
    