
    


      <section class="ftco-fixed clearfix">

      	<div class="page-container-no-gutters float-right">
      		<div class="row no-gutters">
      			<div class="col-md-6 blog-entry-3 ftco-animate">
      				<a href="blog-single.html" class="blog-img d-flex justify-content-center align-items-end" style="background-image: url(images/image_1.jpg);">
	      				<div class="text p-4">
	      					<span>Model</span>
	      					<h3>2018 Super Asia Model</h3>
	      				</div>
	      			</a>
      			</div>
      			<div class="col-md-6 blog-entry-3 ftco-animate">
      				<a href="blog-single.html" class="blog-img d-flex justify-content-center align-items-end" style="background-image: url(images/image_2.jpg);">
	      				<div class="text p-4">
	      					<span>Model</span>
	      					<h3>2018 Super Asia Model</h3>
	      				</div>
	      			</a>
      			</div>
      		</div>
      	</div><!-- end: page-container-->
      </section>
    	
	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
	<svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg>
	</div>