{% extends 'ukts/base.html' %}
{% load static %}


{% block content %}

{% include 'ukts/partials/_navbar.html' %}

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main min-vh-100" id="top">


        <!-- ============================================-->
        <!-- Preloader ==================================-->
        <div class="preloader" id="preloader">
        <div class="loader">
            <div class="line-scale-pulse-out-rapid">
            <div> </div>
            <div></div>
            <div></div>
            <div></div>
            <div> </div>
            </div>
        </div>
        </div>
        <!-- ============================================-->
        <!-- End of Preloader ===========================-->


        
        
        <!-- ============================================-->
        <!-- <section> begin ============================-->
            <section class="py-0" id="page-cart">
  
                <div class="container-fluid">
                  <div class="row">

                    <div class="col-lg-6 px-0 order-lg-2">
                      <div class="sticky-top vh-lg-100 py-9">
                        <div class="bg-holder" style="background-image:url('../../static/ukts/img/zeravica_search.jpeg');" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}'>
                        </div>
                        <!--/.bg-holder-->
        
                      </div>
                    </div>

                    <div class="col-lg-6 py-6">
                      <div class="row h-100 flex-center">
                        <div class="col-lg-10">

                          <div class="font-sans-serif">
                            <h1 class="mb-4 fw-normal">Pretraga <span class='fw-black'>Trenera</span></h1>
                            {% comment %} <h6 class="ls text-uppercase fw-bold mb-4">Pretraga svih članova UKTS</h6> {% endcomment %}
                            {% comment %} <p class="mb-4">Ukucajte ime u donje polje i nadjite trenera</p> {% endcomment %}
                          </div>

                          <form class="input-iconic" method="post" id="search-form" autocomplete="off">
                            {% csrf_token %}

                            {% comment %} <div class="input-group mb-3"> {% endcomment %}
                              {% comment %} <span class="fas fa-search text-500"></span> {% endcomment %}
                              <div class="input-icon">
                                <button type="submit"><span class="fas fa-search text-500"></span></button>
                              </div>
                              <input class="form-control bg-100 mb-5" id="search-input" type="text" placeholder="Ukucajte ime trenera ovde" aria-label="Ime trenera" aria-describedby="button-addon-interior" />
                            {% comment %} </div> {% endcomment %}

                          </form>

                          {% comment %} <div class="container " id="container"> {% endcomment %}
 

                            <div class="row border-bottom">
                  
                              <div class="col-6">
                                <div class="row align-items-center">
                                    {% comment %} <div class="col-auto"><a href="#!"><span class="fas fa-times fs-0 fs-md-1 fs-lg-2 invisible"></span></a></div> {% endcomment %}
                                    <div class="col">
                                      <h6 class="fs--1 ls text-uppercase">Trener</h6>
                                    </div>
                                </div>
                              </div>
                              <div class="col-3">
                                <div class="row align-items-center">
                                  <div class="col-12 text-end">
                                    <h6 class="fs--1 ls text-uppercase text-end">Licenca</h6>
                                  </div>
                                </div>
                              </div>
                              <div class="col-3">
                                <div class="row align-items-center">
                                  <div class="col-12 text-end">
                                    <h6 class="fs--1 ls text-uppercase text-end">Boja</h6>
                                  </div>
                                </div>
                              </div>

                            </div>


                            <div id="rezultati"></div>
        
                          {% comment %} </div> {% endcomment %}

                          {% comment %} {% for assist in assists %}

                          <div class="row align-items-center py-3 border-bottom">
                            
                            <div class="col-sm-12">
                              <div class="row align-items-center">
                                <div class="col-auto"><a href="{{ assist.pdf.url }}"><span class="fas fa-file-download text-300 fs-0 fs-md-1 fs-lg-2"></span></a></div>
                                <div class="col">
                                  <div class="row g-0 align-items-center">
                                    <div class="col-auto"><img class="me-3" src="{{ assist.cover.url }}" alt="" width="50" /></div>
                                    <div class="col-8 mt-2">
                                      <a class="text-black" href="{{ assist.pdf.url }}">
                                        <h5 class="fw-bold mb-0">FIBA Assist Magazin Broj  {{ assist.broj }}</h5>
                                      </a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                          </div>

                         {% endfor %}  {% endcomment %}

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- end of .container-->
        
              </section>
              <!-- <section> close ============================-->
              <!-- ============================================-->
        

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    
    
    {% include 'ukts/partials/_footer.html' %}
    
    
        
{% endblock content %} 

{% block scripts %}

    <script src={% static 'ukts/js/search.js' %} defer> </script>
 

{% endblock scripts %}
